<div class="jumbotron">
  <h1 class="display-4">Boas-vindas!</h1>
  <p class="lead">Esta é a nossa página do Ficha Virtual da Cantina Santa Clara, neste site você poderá cadastrar novos usuários, monitorar os pedidos e adicionar créditos.</p>
  <hr class="my-4">
  <div class="btn-toolbar">
    {{!-- <p>Clique no botão abaixo para prosseguir para a página de Pedidos.</p> --}}
    <a class="btn btn-primary btn-lg mr-4 mt-3" href="/adm/pedidos" role="button">Página de Pedidos</a>
    <br><br>
    {{!-- <p>Clique no botão abaixo para prosseguir para a página de Usuários.</p> --}}
    <a class="btn btn-primary btn-lg mr-4 mt-3" href="/adm/users" role="button">Página de Usuários</a>
    <br><br>
  </div>
  <div class="btn-toolbar">
    {{!-- <p>Clique no botão abaixo para prosseguir para a página de Estoque.</p> --}}
    <a class="btn btn-primary btn-lg mr-4 mt-3" href="/adm/estoque" role="button">Página de Estoque</a>
    <br><br>
    {{!-- <p>Clique no botão abaixo para prosseguir para a página de Almoço.</p> --}}
    <a class="btn btn-primary btn-lg mr-4 mt-3" href="/adm/almoco" role="button">Página de Almoço</a>
  </div>
</div>