<br>
<br>
<br>
<h3>Login:</h3>

<div class="card">
    <div class="card-body">
        <form action="/adm/login" method="POST">
            <label for="nome">Usuário: </label>
                <input type="text" id="nome" name="nome" placeholder="Insira o nome do usuário" class="form-control">
            <label for="nome">Senha: </label>
                <input type="text" id="senha" name="senha" placeholder="Insira a senha" class="form-control">
            <br>

            <button type="submit" class="btn btn-success"> Login </button>
        </form>
    </div>
</div>
